<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/static/css/basic.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="container">
    <form form id="start_run" action="/protocol_types" method="post">
        <h3>Create a new protocol type</h3>
        {% if msg %}<h4>{{ msg }}</h4>{% endif %}
        <fieldset>
            {{ form.name.label }} {{ form.name(placeholder="The name of the new protocol type", type="text", tabindex="1") }}
        </fieldset>
        <fieldset>
            {{ form.module_name.label }} {{ form.module_name(placeholder="The name of the python module containing the protocol", type="text", tabindex="1") }}
        </fieldset>
        <fieldset>
            {{ form.filename.label }} {{ form.filename(placeholder="The file name (without path) of the python file containing the module", type="text", tabindex="1")
            }}
        </fieldset>
        <fieldset>
            {{ form.checksum.label }} {{ form.checksum(placeholder="Input Container Barcode", type="text",
            tabindex="1") }}
        </fieldset>
        {{ form.submit }}
        {{ form.hidden_tag() }}
    </form>
</div>
</body>
</html>